/*
section.cms-boxes
    cms-boxes-outer / cms-boxes-outersmall
        cms-boxes-items                     -> shadow, height
            boxes-align                     -> vertical-align
                small-box                   -> max-width, text-align

section.cms-boxes
  header-row
    cms-boxes-outer
        cms-boxes-items
            boxes-align
                header-box
*/
body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333;background-color:#fff}
h2,.h3,h1,.h2,h3{margin-top:0px;margin-bottom:10px}
.h6 .small {color: #333}

section.cms-boxes .cms-boxes-outer, section.cms-boxes .cms-boxes-outersmall {
    text-align: left;
    margin-bottom: 6px;
    padding: 0 3px;
}
section.cms-boxes .cms-boxes-outer .cms-boxes-items{
    height: 225px;
    display: table;
    width: 100%;
}
section.cms-boxes .cms-boxes-outersmall .cms-boxes-items{
    height: 150px;
    display: table;
    width: 100%;
}

section.cms-boxes .header-row .cms-boxes-outer .cms-boxes-items{
    height: 50px;
    display: table;
    width: 100%;
}

section.cms-boxes .boxes-align {
    display: table-cell;
    vertical-align: top;
}
section.cms-boxes .small-box, section.cms-boxes .large-box, section.cms-boxes .verysmall-box, .small-box {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 6px;
    text-align: center;
}

section.cms-boxes .cms-misc:hover {
  opacity: .2;
  cursor: pointer;
}

section.cms-boxes .cms-boxes-items{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

section.cms-boxes .header-row{
    adisplay:-ms-flexbox;
    adisplay:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    margin-right:-15px;
    margin-left:-15px
}
section.cms-boxes .header-box {
    margin: 0 auto;
    margin-top: 6px;
    text-align: center;
}


section.cms-boxes .cms-boxes-outersmall h2{
    font-size:18px
}

section.cms-boxes .cms-boxes-items h3 {
    font-size: 35px;
    color: #fff;
    font-weight: 400;
    line-height: 37px;
    text-align: center;
    margin: 20px 0 10px;
    text-transform: uppercase;
}
section.cms-boxes .cms-boxes-outer .cms-boxes-items p, section.cms-boxes .cms-boxes-outersmall .cms-boxes-items p{
    sscolor: #fff;
    margin-top:10px;margin-bottom:00px
}

section.cms-boxes .cms-temp {
    background-color: #2196F3; /*blue*/
    background-size: cover;
}
section.cms-boxes .cms-humidity {
    background-color: #f37f21;  /*Orange*/
}
section.cms-boxes .cms-pressure {
    background: #4CAF50;    /*green*/
}
section.cms-boxes .cms-misc {
    background: #9e9e9e;    /*green*/
}
section.cms-boxes .cms-mlx {
    background-color: #8021f3;
}
section.cms-boxes .cms-illum {
    background-color: #21f3e9;
}

/*
red #f44336
green #4CAF50
blue #2196F3
yellow #ffeb3b
Grey #9e9e9e
Indigo #3f51b5
Orange #ff9800
Teal 009688
Cyan 00bcd4
*/

/* section.cms-boxes .cms-pressure .wi{
    color: #ff0000;
}
 */
.amber-text{
    color: #ffff00;    
}
.normal-color{
 color: #333;
}
.table .tcenter { 
    margin-left:auto; 
    margin-right:auto;

}
.tdspace{ width: 30%}
.tdcomment{ text-align: left;}



.tooltip {
    position: relative;
    adisplay: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
	color: black;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.htooltip span { /* Внешний вид нашего тултипа */
	background-color: rgba(0,0,0, 0.8);
	border-radius: 15px 15px 15px 0px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	color: #fff;
	margin-left: 2px;
	margin-top: -75px;
	opacity: 0; /* Делаем его прозрачным */
	padding: 10px 10px 10px 40px;
	position: absolute;
	text-decoration: none;
	visibility: hidden; /* И прячем */
	width: 350px;
	z-index: 10;
}
		
.htooltip:hover span { /* По hover отображаем тултип */
	opacity: 1;
	visibility: visible;
}
		
.htooltip span img { /* Изображение для примера */
	border: 0 none;
	float: left;
	margin: -71px 0 0 -234px;
	opacity: 0;
	position: absolute;
	visibility: hidden;
	z-index: -1;
}
		
.htooltip:hover span img { /* Показываем изображение */
	opacity: 1;
	visibility: visible;
}



.tooltip2 {
	aborder-bottom: 1px dotted #0077AA;
	cursor: help;
}

.tooltip2::after {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 8px 8px 8px 8px;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
	color: #FFF;
	content: attr(data-tooltip); /* Главная часть кода, определяющая содержимое всплывающей подсказки */
	margin-top: -24px;
	opacity: 0; /* Наш элемент прозрачен... */
	padding: 3px 7px;
	position: absolute;
	visibility: hidden; /* ...и скрыт. */
			
	transition: all 0.4s ease-in-out; /* Добавить плавности по вкусу */
}
		
.tooltip2:hover::after {
	opacity: 1; /* Показываем его */
	visibility: visible;
}